body {
  background: rgb(238, 238, 241);
}

.container {
  background: grey;
  min-height: 300px;
  display: flex;    /* La relación Flex es solo padre-hijo. Los nietos no serían Flex */
  /* display: inline-flex; Inline-flex es como flex pero el padre se adapta al contenido
                            en lugar de ocupar todo el espacio disponible*/
  flex-direction: row;  /* row es por defecto */
  flex-wrap: wrap;      /* por defecto es nowrap. Con wrap los hijos no varían de tamaño
                        y se reparten en múltiples líneas */
  gap: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.item {
  background: red;
  width: 150px;
  height: 150px;
  color: white;
  font-size: 5rem;
}

.island {
  width: 85px;
  height: 25px;
  background-color: black;
  color: whitesmoke;
  border-radius: 50px;
  position: absolute;
  top: 37px;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.island:hover {
  cursor: pointer;
  width: 75%;
  height: 60px;
  border-radius: 70px;
  transition: 0.3s ease;
}

